header {
  background-color: #fff;
  margin: 1.8rem 2.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #4e60ff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 1010px) {
  a,
  button {
    display: none;
  }
}
