.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 8rem;
}

h4 {
  color: blue;
  font-size: 1.8rem;
  font-family: "Oxanium", sans-serif;
}

h3 {
  font-family: "raleway", sans-serif;
  font-size: 1.8rem;
}

.cards {
  display: flex;
  margin-top: 1.2rem;
  gap: 25px;
  flex-wrap: nowrap;
}

@media (max-width: 1010px) {
  .cards {
    flex-wrap: wrap;
  }
}
