/* Hero.css */

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.text-area {
  flex: 2;
  width: 25rem;
}
.text {
  width: 100%;
}

.text-area .text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-area p {
  font-size: 1.2rem;
  color: #555;
}

.img-area {
  flex: 2;
}

.image {
  width: 100%;
  background-size: "cover";
  height: 50vh;
  font-size: 50px;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 30% 70% 55% 45% / 65% 69% 31% 35%;
  background-image: url("/src/Assets/small-parcel-courier-service-500x500.webp");
}

.img-area img {
  max-width: 100%;
  height: auto;
}
