header {
  background-color: #fff;
  margin: 1.8rem 2.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  max-width: 60px;
}

.logo img {
  width: 100%;
}

a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: var(--button);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

.hamburger {
  display: none;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 5px;
}
.hamburger div {
  transition: 0.8s;
}
.hamburger div:hover {
  transform: rotate(180deg);
}

@media screen and (max-width: 1010px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
  }
  a,
  button {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/*-------------------------------------------------Responsive Nav-----------------------------------------------------*/
.responsive_nav_none {
  display: none;
  transition: 1s ease-in;
}

.responsive_nav {
  width: 100%;
  height: 30vh;
  z-index: 300;
  background-color: #000;
  transition: 1s ease;
  display: block;
}
.responsive_nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.responsive_nav ul li Link {
  color: #fff;
}
